[user]
	name = morikuni
	email = swishy.studded_0n@icloud.com
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAINQuF6A3ySfeS8Ya90HnGrameTi/YsvrAYiw4swgwURd
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[core]
	excludesfile = ~/.gitignore
[include]
	path = .gitconfig.os
[gpg]
	format = ssh
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[commit]
	gpgsign = true
