[user]
	name = morikuni
	email = taihei.with+git@gmail.com

[url "ssh://git@github.com/"]
	insteadOf = https://github.com/

[diff]
	tool = Kaleidoscope
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[merge]
	tool = Kaleidoscope
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
[core]
	excludesfile = ~/.gitignore_global
	sshCommand = C:/Windows/System32/OpenSSH/ssh.exe
[include]
	path = .gitconfig.os
